@charset "UTF-8";

#graph-explorer-container {
  height: 100vh;
  display: flex;
  margin: 10px;
  flex-direction: column;
}

#graph-explorer-container .graph-explorer {
  overflow: hidden;
}

.content-inner.fullscreen #graph-explorer-container {
  height: calc(100vh - 85px);
}

.graph-explorer-paper-area__watermark {
  display: none !important;
}

.graph-explorer-toolbar__language-selector label {
  margin-left: 10px;
}

.graph-explorer-toolbar button::after {
  content: " "
}

.geo_point {
  height: 300px;
  width: 300px;
}
